body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #f5f5f5 50%, #b08e6b 50%);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 15px;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.text {
  flex: 1;
}

.text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.case-study-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
/* header 02 */
.header2 {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
}

.welcome-section h1 {
  font-size: 48px;
  font-family: 'Cursive', sans-serif;
  color: #c6a15b;
}

.welcome-section p {
  max-width: 600px;
  margin: 20px auto;
  font-size: 18px;
  color: #7d7d7d;
  line-height: 1.6;
}

.links-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.link-item {
  margin: 0 20px;
  text-align: center;
}

.link-item img {
  width: 60px;
  height: 60px;
}

.link-item a {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #c6a15b;
  text-decoration: none;
  font-weight: bold;
}


/* footer */

.footer {
  background-color: #b08e6b;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-text {
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.6;
  color: #bbb;
}

.footer-logo {
  margin: 20px 0;
}

.footer-logo img {
  width: 60px;
  height: auto;
}

.footer-location {
  font-size: 14px;
  color: #bbb;
}
.container {
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #b08e6b;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
}

.item img {
  width: 100%;
  height: auto;
}

/* pagina productos */

.card-title {
  font-size: 1rem;
}
.card-text {
  font-size: 0.9rem;
  color: #b08e6b;
}
.card .btn {
  width: 50%;
  font-size: 0.9rem;
  color: #f5f5f5;
  background-color:  #b08e6b;
  border-color:  #b08e6b;;
}
.card {
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card-img-top {
  transition: transform 0.2s ease-in-out;
}
.card:hover .card-img-top {
  transform: scale(1.1);
}
.pagination {
  margin-top: 20px;
}

section img {
  border-radius: 8px;
}

section h3 {
  color: #8b5e34;
  font-weight: bold;
  margin-bottom: 20px;
}
img-fluid {
  max-width: 300px; /* Ajusta este valor según tus necesidades */
  height: auto;

}

.contact-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
}

.form-control {
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
  background-color: #007bff;
  border-color: #007bff;
}

.btn:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.alert {
  border-radius: 5px;
}
.profile-section {
  background-color: #b08e6b ;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 50px;
}

.profile-text {
  max-width: 600px;
}
.profile-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #f5f5f5;
}
.profile-text p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #f5f5f5;
}
.profile-text a {
  font-size: 1rem;
  color: #070707;
  
}
.profile-text a:hover {
  text-decoration: underline;
}




.products-section {
  padding: 50px 0;
}
.product-card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(232, 215, 127, 0.2);
}
.product-image {
  max-height: 250px;
  object-fit: contain;
}
.product-info {
  text-align: center;
  margin-top: 15px;
}
.product-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.product-price {
  color: #0c2a85;
  font-size: 1rem;
  margin: 5px 0;
}
.product-button {
  background-color: #b8781f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.product-button:hover {
  background-color: #070707;
}